body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  transition: box-shadow 0.3s;
}

.section:hover {
  box-shadow: 0 4px 20px rgba(0, 123, 255, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-1px);
}

button:focus {
  outline: none;
}

/* Estilo para el botón de gestionar productos */
.product-management-section button {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.error {
  color: red;
  text-align: center;
}
